<%-include('template/cabecera',{tituloweb: 'ALMACEN'}) %>

<div id="contenedor">
    <%- include('template/navbar') %> 

    <div id="titulo">
        <h1>ALMACEN</h1>
    </div>
    
    <div id="tbPro">

        <div id="tb1">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE HERRAMIENTA</th>
                        <th>ESTADO</th>
                        <th>TIPO DE HERRAMIENTA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach((almacen) => { %>
                        <tr>
                         <td><%-almacen.idherra%></td>
                         <td><%-almacen.nombreherra%></td>
                         <td><%-almacen.estado%></td>
                         <td><%-almacen.tipoherra%></td>
                         <td>
                            <a href="/edital/<%=almacen.idherra%>" id="btnEdit">EDITAR</a>
                            <a href="/deleteal/<%=almacen.idherra%>" onclick="return confirm('¿Desea eliminar este registro?')" id="btnEli">ELIMINAR</a>
                        
                        </td>
                    <% }) %>
                </tbody>
                
            </table>

        </div>
       
        <div class="formPro">
            <form action="/savealma" method="post">

                <p>Nombre de la herramienta:</p>
                <input type="text" name="nombreherra" id="nombreherra"  placeholder="Escribir nombre completo" required>
                <br>
                <p>Estado de la herramienta:</p>
                <select name="estadoherra" id="estadoherra" required="true">
                    <option value="Nuevo">Nuevo</option>
                    <option value="Usado">Usado</option>
                    <option value="Dañado">Dañado</option>
                </select>
                <br>
                <p>Tipo de herramiento:</p>
                <select name="tipoherra" id="tipoherra" required="true">
                    <option value="Campo">Campo</option>
                    <option value="Oficina">Oficina</option>
                   
                </select>
                <br>

                <input type="submit" value="GUARDAR">

            </form>
        </div>
    </div>
    
    
</div>

<%- include('template/piecera') %> 

