<%-include('template/cabecera',{tituloweb: 'CLIENTES'}) %>

<div id="contenedor">
    <%- include('template/navbar') %> 

    <div id="titulo">
        <h1>CLIENTES</h1>
    </div>
    
    <div id="tbPro">

        <div id="tb1">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CLIENTE</th>
                        <th>REPRESENTANTE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>CORREO</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach((clientes) => { %>
                        <tr>
                         <td><%- clientes.idclientes %></td>
                         <td><%- clientes.nombrecliente %></td>
                         <td><%- clientes.representantecliente %></td>
                         <td><%- clientes.direccioncliente %></td>
                         <td><%- clientes.telcliente %></td>
                         <td><%- clientes.email %></td>
                         <td>
                            <a href="/editcliente/<%=clientes.idclientes %>" id="btnEdit">EDITAR</a>
                        </td>
                        <td>
                            <a href="/deletecli/<%=clientes.idclientes%>" onclick="return confirm('¿Desea eliminar este registro?')" id="btnEli">BORRAR</a>
                        </td>
                    <% }) %>
                </tbody>
                
            </table>

        </div>
       
        <div class="formPro">
            <form action="/savecli" method="post">

                <p>Identificacion del cliente:</p>
                
                <input type="text" id="idclientes" name="idclientes"  placeholder="Identificacion persona o empresa" required>
                <br>
                <p>Nombre del solicitante:</p>
                <input type="text" id="nombrecliente" name="nombrecliente"  placeholder="nombre de persona o empresa" required>
                <br>
                <p>Representante:</p>
                <input type="text" id="representantecliente" name="representantecliente" placeholder="Diligenciar si es empresa">
                <br>
                <p>Direccion:</p>
                <input type="text" id="direccioncliente" name="direccioncliente" placeholder="Barrio y nomenclatura" required>
                <br>
                <p>Telefono:</p>
                <input type="tel" id="telcliente" name="telcliente" placeholder="Casa u oficina" required>
                <br>
                <p>Correo:</p>
                <input type="email" id="email" name="email" placeholder="Empresa o personal">
                <br>

                <input type="submit" value="GUARDAR">

            </form>
        </div>
    </div>
    
    
</div>

    
<%- include('template/piecera') %> 
    